---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is my JAM!</h1>
  <div class="vibe">Meatballs!</div>
  <div class="love">❤️</div>


<ul>

{% for song in kcsong.song %}
<li>{{ song.title}}  </li>
{% endfor %}

</ul>

<ul>

{% for article in news.articles %}
<li>
  <h2><a href="{{ article.url }}">{{ article.title}}>/a></h2>
  <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
</li>
{% endfor %}

</ul>
</div>
<script src="/js/vibe.js"></script>
