---
title: A page for you
layout: base.njk
---

<div class="container">
  <h1>This is my JAM!</h1>
  <div class="vibe">Meatballs!</div>
  <div class="love">❤️</div>

</div>

<script src="/js/vibe.js"></script>
